/* global style section */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* border: 1px solid red; */
    /* background-color: #1A0B2E; */
}
.nav-bar{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

/* common style section  */
.display-flex{
    display: flex;
}

.btn-primary>button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10000px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: var(
        --Linear, 
        linear-gradient(
            47.64deg, 
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)));
    cursor: pointer;
}


/* content style section  */
.nav-container{
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding: 30px 0;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}
.nav-item>li{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-item{
    justify-content: space-between;
    gap: 32px;
}
.logo-text{
    font-size: 2rem;
    font-weight: 700;
}
#wave {
    background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    border: none;
}
.nav-item>a{
    font-weight: 500;
}
.nav-more{
    display: none;
    /* scale: 100%; */
    padding: 18px 18px;
}


/* banner style section  */

/* mm.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px 525px;
} mm*/
.banner-container{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px 525px;
}

.banner-img{
    position: relative;
}
.banner-img .mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text{
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}
.banner-text h2{
    font-size: 3rem;
    font-weight: 800;
}
.banner-text p{
    font-weight: 300;
    margin-top: 8px;
}
.banner-btn{
    margin-top: 24px;
    gap: 8px;
}

#spotify-btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn-secondary{
    width: 145px;
    border: 1px solid #00ff88;
    background: transparent;
    color: #00ff88;
}
.banner-img .badge {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #00ff88;
    color: #000000;
    font-size: 0.7rem;
    font-weight: 600;

    padding: 4px 10px;
    border-radius: 999px;
}

/* About Podcast style section   */
.about-podcast{
    background-color: #230E3D;
    color: #FFFFFF;
    text-align: center;
}
.about-podcast .overview{
    max-width: 1200px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}
/* .box1,
.box2,
.box3,
.box4{
    border: 1px solid #00ff88;
} */




/* why choose techwave style section  */
.why-choose-tachwave{
    color: #FFFFFF;
    background-color: #1A0B2E;
}
box-one{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: repeat(2, 1fr);
}
.headphone{        
    border: 1px solid red;
    grid-row: span2;
}
.mobile{
    border: 1px solid lime;
    grid-column: span-2;
}
/* box-two */




/* responsive style section  */
@media screen and (max-width: 576px) {
    .nav-item,
    #nav-sub{
        display: none;
    }

    .nav-more{
        display: inline;
    }
    .banner-container{
        /* height: 100vh; */
        /* scale: 50%; */
        padding: 80px 10px;
        background-position: contain;
        /* background-position: top; */
    }
    .banner-img{
        scale: 50%;
    }
.about-podcast .overview{
        max-width: 570px;
        gap: 10px;
    }

    /* .banner-img{
        scale: 50%;
    }
    .banner-text{
        margin-top: 20px;
    }
    .banner-btn{
        margin-top: 10px;
    } */
    
}