/* global style section */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* border: 1px solid red; */
    /* background-color: #1A0B2E; */
}
.nav-bar{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

/* common style section  */
.display-flex{
    display: flex;
}

.btn-primary>button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10000px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: var(
        --Linear, 
        linear-gradient(
            47.64deg, 
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)));
    cursor: pointer;
}


/* content style section  */
.nav-container{
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding: 30px 0;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}
.nav-item>li{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-item{
    justify-content: space-between;
    gap: 32px;
}
.logo-text{
    font-size: 2rem;
    font-weight: 700;
}
#wave {
    background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    border: none;
}
.nav-item>a{
    font-weight: 500;
}
.nav-more{
    display: none;
    /* scale: 100%; */
    padding: 18px 18px;
}


/* banner style section  */
.banner-container{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px 525px;
}

.banner-img{
    position: relative;
}
.banner-img .mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text{
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}
.banner-text h2{
    font-size: 3rem;
    font-weight: 800;
}
.banner-text p{
    font-weight: 300;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.8);
}
.banner-btn{
    margin-top: 24px;
    gap: 8px;
}

#spotify-btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn-secondary{
    width: 145px;
    border: 1px solid #00ff88;
    background: transparent;
    color: #00ff88;
}
.banner-img .badge {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #00ff88;
    color: #000000;
    font-size: 0.7rem;
    font-weight: 600;

    padding: 4px 10px;
    border-radius: 999px;
}

/* About Podcast style section   */
.about-podcast{
    background-color: #1A0B2E;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 60px;
}
.about-podcast .text-area{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.about-podcast .text-area h2{
    font-size: 3rem;
    font-weight: 700;
}
.about-podcast .text-area p{
    margin-top: 16px;
    /* max-width: ; */
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.about-podcast .overview{
    max-width: 1200px;
    max-height: 94px;
    margin: 0 auto;
    padding: 80px 180px 120px 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}
.box-info{
    max-width: 180px;
}
.box-info h3{
    color: #00ff88;
    font-size: 2.8rem;
    font-weight: 900;
}
.box-info p{
    margin-top: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}

/* why choose techwave style section  */
.why-choose-tachwave{
    background-color: #230E3D;
}
.why-container{
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
}
.why-container .section-title h2{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    text-align: center;
}
.grid-box-top{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.inbox{
    border-radius: 40px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.inbox h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.inbox p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}
.inbox span{
    width: 60px;
    height: 60px;
}
.inbox img{
    width: 100%;
    height: auto;
}
.mobile img{
    scale: 80%;

}
.headphone{
    /* margin-top: 0px; */
    padding-top: 80px;
    grid-row: span 2;
}
.mobile, .global{
    grid-column: span 2;
}
.grid-box-bottom{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
}
.exclusive{
    grid-column: span 2;
}

/* Featured Episodes style section  */
.featured-episodes{
    background-color: #1A0B2E;
}
.featured-container{
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.upper-box h2{
    padding-top: 120px;
    font-size: 3rem;
    font-weight: 700;
}
.episode-box{
    margin-top: 40px;
    max-width: 380px;
    padding-left: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}
.episode-box .card{
    background-color: #250D44;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}
.episode-box iframe{
    border-radius: 24px;
}
.episode-box .card h3{
    padding: 24px 24px 0px 24px;
    font-size: 1.5rem;
    font-weight: 700;
}
.episode-box .card p{
    padding: 12px 24px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}
.time{
    padding-left: 24px;
    display: flex;
    /* gap: none; */
    justify-content: center;
    align-items: center;
}

/* alex */
.lower-box{
    padding-bottom: 120px;
}
.lower-box>h2{
    margin-top: 120px;
    font-size: 3rem;
    font-weight: 700;
}
.alex-box{
    margin-top: 40px;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    gap: 24px;
    text-align: start;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text h3{
    font-size: 2rem;
    font-weight: 700;
}
.text p{
    color: rgba(255, 255, 255, 0.6);
}
.socials{
    display: flex;
    gap: 8px;
}
.socail-img{
    border: 1px solid #533C72;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}





/* footer style section  */
footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.footer-container p{
    color: rgba(250, 250, 250, 0.6);
    font-weight: 500;
}
.partners{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.footer-box{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 8px;
}
#ptext{
    color: rgba(255, 255, 255, 0.6);

}




/* responsive style section  */
@media screen and (max-width: 576px) {
    .nav-item,
    #nav-sub{
        display: none;
    }

    .nav-more{
        display: inline;
    }
    .banner-container{
        /* height: 100vh; */
        /* scale: 50%; */
        padding: 80px 10px;
        background-position: contain;
        /* background-position: top; */
    }
    .banner-img{
        scale: 50%;
    }

    /* podcast section  */
    .about-podcast{
        height: 650px;
    }
    .about-podcast .text-area{
        max-width: 400px;
    }
    .about-podcast .text-area h2{
        font-size: 2rem;
    }
    .about-podcast .text-area p{
        padding-bottom: 40px;
    }
    .about-podcast .overview{
        max-width: 400px;
        max-height: 210px;
        padding: 40px 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Why choose section  */
    .why-container{
        max-width: 400px;
        margin: 0 auto;
    }
    .why-container .section-title h2{
        padding-top: 40px;
        font-size: 2rem;
    }
    .grid-box-top{
       margin-top: 16px;
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(1, 1fr); 
    }
    .inbox{
        width: 400px;
        padding: 16px 20px;
    }
    .inbox h3{
        font-size: 1.3rem;
    }
    .grid-box-bottom{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 40px;
    }

    /* Freatured ep  */
    .upper-box h2{
    padding-top: 40px;
    font-size: 2rem;
    }
    .episode-box{
    margin-top: 20px;
    margin: 0 auto;
    max-width: 380px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: center;
}

.lower-box>h2{
    margin-top: 40px;
    font-size: 2rem;
}
.alex-box{
    
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 17, 101, 0.4);
    gap: 24px;
    text-align: start;
}


    /* footer section  */
    footer{
    background-image: url(../assets/footer-mobile.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .footer-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 24px;
    }
    .partners{
    grid-template-columns: repeat(2, 1fr);
    }
    #ptext{
        margin-top: 0;
    }
    .footer-box{
        gap: none;
        justify-content: center;
        align-items: center;
    }
    
    .footer-container p{
        text-align: center;
        margin-top: 24px;
    }
}